h1{
    color:blueviolet;
  }
h2{
    color:blueviolet;
  }

#main{
    color:aqua;
     }
.river{
    color:tomato;
      }
#forest{
    font-family: arial;
}
#p1{
    line-height:50px;
    text-transform: uppercase;
}

